.benefit.clearfix
	-var item_type = [];
	-item_type[0] = {}

	-item_type[0].classWidth = '28'
	-item_type[0].title = "ЭЛЕКТРОННЫЕ ПЛАТЕЖИ"
	-item_type[0].title_link = "БЕЗ КОМИССИИ"
	-item_type[0].text = "Оплата удобным для вас способом: картой <b>VISA</b> или <b>MasterCard</b> любого банка или переводом <b>со счета на счет через интернет-банк</b>"
	-item_type[0].big_size = 0
	-item_type[0].blook = "online"

	-item_type[1] = {}
	-item_type[1].classWidth = '40'
	-item_type[1].title = "«МАКСИМУМ»"
	-item_type[1].title_link = "НАДЁЖНОСТИ"
	-item_type[1].text = "Нажденость каждой сделки гарантирует наш партнер – <b>Автохолдинг «Максимум»</b>"
	-item_type[1].big_size = 0
	-item_type[1].blook = "reliability"

	-item_type[2] = {}
	-item_type[2].classWidth = '32'
	-item_type[2].title = "ПО САНКТ-ПЕТЕРБУРГУ"
	-item_type[2].title_link = "БЕСПЛАТНАЯ ДОСТАВКА"
	-item_type[2].text = "Привезем ваш автомобиль по любому адресу в Санкт-Петербурге и окрестностях.<a href='#'>Карту доставки смотрите здесь.</a>"
	-item_type[2].big_size = 0
	-item_type[2].blook = "free"

	-item_type[3] = {}
	-item_type[3].classWidth = '28'
	-item_type[3].title = "Для всех автомобилей"
	-item_type[3].title_link = "ОНЛАЙН КРЕДИТ"
	-item_type[3].text = "Кредитование без посещения банков, все документы передаются в банк через личный кабинет на сайте"
	-item_type[3].big_size = 0
	-item_type[3].blook = "buy"

	-item_type[4] = {}
	-item_type[4].title_link = "ГАРАНТИЯ"
	-item_type[4].text = "<b>3 года гарантийного обслуживания</b> на новые автомобили, <b>3 месяца обслуживания</b> автомобилей с пробегом от автохолдинга «Максимум»"
	-item_type[4].big_size = 1
	-item_type[4].classWidth = '18'
	-item_type[4].blook = "warranty"

	-item_type[5] = {}
	-item_type[5].classWidth = '22'
	-item_type[5].title_link = "ЭКОНОМИЯ"
	-item_type[5].text = "Подскажем, как сэкономить на покупке"
	-item_type[5].big_size = 1
	-item_type[5].blook = "pay"

	-item_type[6] = {}
	-item_type[6].classWidth = '32'
	-item_type[6].title = "ВСЁ"
	-item_type[6].title_link = "ПО-ЧЕСТНОМУ"
	-item_type[6].text = "Честный пробег подержанных автомобилей и честные цены на все авто"
	-item_type[6].big_size = 0
	-item_type[6].blook = "car"

	-each item,index in item_type
		div(class="benefit-item __width-#{item.classWidth} __#{item.blook}")
			-if(item.blook != "free")
				-if(item.big_size != 1)
					.benefit-item-title= item.title
				.benefit-item-scale= item.title_link
				.benefit-item-content!= item.text
			-else
				.benefit-item-scale= item.title_link
				.benefit-item-title= item.title
				.benefit-item-content!= item.text




