div.catalog
	div.title-bordered
		h2 Сегодня в CarMart

	p.catalog-info Самые интересные предложения <span>на 15 октября</span>


	-var catalog = []
	-catalog[0] = {}
	-catalog[0].hint_price = 'true'
	-catalog[0].old_car = 'true'
	-catalog[0].in_compare = 'true'
	-catalog[0].title = 'Volkswagen Jetta 2.0 TDi'
	-catalog[0].desc = '1.6 л, 105 л.с., бензин, МКПП'
	-catalog[0].year = '<b>2003</b> г.в.'
	-catalog[0].footage = '<b>10 000</b> км'
	-catalog[0].price_rf = 'Цена РФ <span class="__through">1 570 000 </span>'
	-catalog[0].price = '1 500 000 Р'
	-catalog[0].credit = 'от <b>10 000 Р/мес.</b>'

	-catalog[1] = {}
	-catalog[1].in_favorite = 'true'
	-catalog[1].title = 'Ford Mondeo'
	-catalog[1].desc = '186 л.с. (2.0 EcoPower) АИ-95: 10л / 15л'
	-catalog[1].year = '<b>2015</b> г.в.'
	-catalog[1].footage = '<b>2 000</b> км'
	-catalog[1].price_rf = 'Цена РФ <span class="__through">1 170 000 Р</span>'
	-catalog[1].price = '1 000 000 Р'
	-catalog[1].credit = 'от <b>15 000 Р/мес.</b>'
	-catalog[1].two = 'true'


	-catalog[2] = {}
	-catalog[2].old_car = 'true'
	-catalog[2].title = 'Ford Mondeo'
	-catalog[2].desc = '186 л.с. (2.0 EcoPower) АИ-95: 10л / 15л'
	-catalog[2].year = '<b>2015</b> г.в.'
	-catalog[2].footage = '<b>2 000</b> км'
	-catalog[2].price_rf = 'Цена РФ <span class="__through">1 170 000 Р</span>'
	-catalog[2].price = '1 000 000 Р'
	-catalog[2].credit = 'от <b>15 000 Р/мес.</b>'
	-catalog[2].one = 'true'


	-for (var j =0; j<2;j++)
		-each item, index in catalog
			div.catalog-item
				div.catalog-item-gallery
					if (item.hint_price)
						div.hint-price <b>800 000 Р</b> до 18.10.2015
					if (item.old_car)
						div.icon-mustache

					-var i = index == 0 ? 1 : index == 1 ? 2 : 3
					ul.js-catalog-slider.catalog-item-slider
						-for (i;i<4;i++)
							li
								img(src="images/example/car/#{i}.png" alt="")
				div.catalog-item-ctn
					div.catalog-item-btns

							if (item.in_compare)
								div.catalog-item-compare.__active
								div.catalog-item-favorite
								div.catalog-item-hint-btns
									a(href="#").catalog-item-hint.__favorite  В избранное
									a(href="#").catalog-item-hint.__compare.__active  Не сравнивать
							else if (item.in_favorite)
								div.catalog-item-compare
								div.catalog-item-favorite.__active
								div.catalog-item-hint-btns
									a(href="#").catalog-item-hint.__favorite.__active  Убрать из избранного
									a(href="#").catalog-item-hint.__compare К сравнению
							else
								div.catalog-item-compare
								div.catalog-item-favorite
								div.catalog-item-hint-btns
									a(href="#").catalog-item-hint.__favorite В избранное
									a(href="#").catalog-item-hint.__compare К сравнению


					p.catalog-title!= item.title
					p!= item.desc
					p!= item.year
					p!= item.footage


					if (item.two)
						div.catalog-detail
							div.catalog-detail-icon.__gasoline
							div.catalog-detail-hint
								p
									b Расход бензина АИ-92
								p <b>трасса:</b> 6 л/100км
								p <b>город:</b> 7.5 л/100км
								p <b>смешаный цикл:</b> 6.5 л/100км

							div.catalog-detail-icon.__compressor
							div.catalog-detail-hint
								p
									b Расход бензина АИ-92
								p <b>трасса:</b> 16 л/100км
								p <b>город:</b> 7.5 л/100км
								p <b>смешаный цикл:</b> 61.5 л/100км
					else if(item.one)
						div.catalog-detail
							div.catalog-detail-icon.__reliability
							div.catalog-detail-hint
								p
									b Расход бензина АИ-92
								p <b>трасса:</b> 3 л/100км
								p <b>город:</b> 5 л/100км
								p <b>смешаный цикл:</b> 4 л/100км
					else
						div.catalog-detail
							div.catalog-detail-icon.__gasoline
							div.catalog-detail-hint
								p
									b Расход бензина АИ-92
								p <b>трасса:</b> 6 л/100км
								p <b>город:</b> 7.5 л/100км
								p <b>смешаный цикл:</b> 6.5 л/100км

							div.catalog-detail-icon.__compressor
							div.catalog-detail-hint
								p
									b Расход бензина АИ-92
								p <b>трасса:</b> 16 л/100км
								p <b>город:</b> 7.5 л/100км
								p <b>смешаный цикл:</b> 61.5 л/100км

							div.catalog-detail-icon.__reliability
							div.catalog-detail-hint
								p
									b Расход бензина АИ-92
								p <b>трасса:</b> 3 л/100км
								p <b>город:</b> 5 л/100км
								p <b>смешаный цикл:</b> 4 л/100км

					div.catalog-price
						div.catalog-price-rf!= item.price_rf
						div.catalog-price-normal!= item.price
						div.catalog-price-credit!= item.credit

						a(href="#").button-detail Купить


					div.clear


div.catalog-btns
	a(href="#").catalog-btns-link.__new-car 158 новых авто
	span.catalog-btns-title Смотри все в наличие
	a(href="#").catalog-btns-link.__old-car 269 с пробегом